Semester 4/20150314_hands_on_2/teilnehmerListe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:t="http://www.fh-hagenberg.at/termin" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fh-hagenberg.at/termin" elementFormDefault="qualified">
	<!-- Participiant List Type -->
	<complexType name="ParticipiantListType">
		<sequence>
			<element name="PARTICIPIANT" type="t:ParticipiantType" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- Participiant Type -->
	<complexType name="ParticipiantType">
		<simpleContent>
			<extension base="string">
				<attribute name="id" type="string" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
</schema>
